*{margin:0;padding:0;box-sizing:border-box}
body{background:#000;color:#fff;font-family:Arial}

.header{
  height:90px;
  padding:0 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#000;
  border-bottom:1px solid #d4af37;
}

.logo-icon{width:55px}
.logo-text{height:40px}

.nav a{color:#d4af37;margin-left:25px;text-decoration:none}

.menu-btn{display:none;color:#d4af37;font-size:30px;cursor:pointer}

.hero img{width:100%;height:90vh;object-fit:cover}

section{padding:70px 10%;text-align:center}
h2{color:#d4af37;margin-bottom:25px}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  padding:40px;
  border:1px solid #d4af37;
  border-radius:15px;
}

footer{text-align:center;padding:30px;color:#777}

.whatsapp{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25d366;
  padding:15px;
  border-radius:50%;
  color:#000;
  text-decoration:none;
}

.mobile-menu{
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transform:translateX(100%);
  transition:.3s;
}

.mobile-menu a{
  color:#d4af37;
  font-size:1.5rem;
  margin:15px;
  text-decoration:none;
}

.mobile-menu span{
  position:absolute;
  top:20px;
  right:25px;
  font-size:30px;
  color:#d4af37;
  cursor:pointer;
}

@media(max-width:768px){
  .nav{display:none}
  .menu-btn{display:block}
}
