*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#000;
  color:#fff;
  overflow-x:hidden;
}

/* HEADER */
.header{
  height:70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 30px;
  border-bottom:1px solid #222;
  position:sticky;
  top:0;
  background:#000;
  z-index:1000;
}

.brand img{height:36px}

.nav a{
  color:#d4af37;
  margin:0 14px;
  text-decoration:none;
}

/* HERO */
.hero{
  height:calc(100vh - 70px);
  background:url("https://raw.githubusercontent.com/asheeshsarkar0-star/Asheesh-Sarkar/main/file_00000000a5dc72068ccf64c818b36983.png")
  center/contain no-repeat;
}

/* SECTION */
section{
  padding:70px 20px;
  text-align:center;
}

.about-wrap{
  max-width:1100px;
  margin:auto;
  display:flex;
  align-items:center;
  gap:50px;
}

.about-face img{
  width:420px;
  border-radius:18px;
  box-shadow:0 0 35px rgba(212,175,55,.4);
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
  gap:22px;
  max-width:1100px;
  margin:auto;
}

.card{
  padding:30px;
  border:1px solid rgba(212,175,55,.5);
  border-radius:14px;
}

/* CONTACT */
.contact-section{
  padding-bottom:30px;
}

.contact-section input,
.contact-section textarea{
  width:100%;
  max-width:700px;
  margin:10px auto;
  display:block;
  padding:14px;
  background:#111;
  border:1px solid #d4af37;
  color:#fff;
  border-radius:10px;
}

.contact-section button{
  padding:12px 40px;
  border:none;
  border-radius:30px;
  background:#d4af37;
}

/* FOOTER */
.footer{
  padding:25px;
  border-top:1px solid #222;
  text-align:center;
}

/* WHATSAPP */
.whatsapp-float{
  position:fixed;
  bottom:20px;
  right:20px;
  width:56px;
  height:56px;
  background:#25D366;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
  box-shadow:0 10px 25px rgba(37,211,102,.6);
}

.whatsapp-float img{
  width:28px;
  height:28px;
}

@media(max-width:900px){
  .about-wrap{flex-direction:column}
  .nav{display:none}
  }
