* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1f1f1f, #000);
}

.hero-content {
  text-align: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #d4af37;
}

.hero p {
  margin-top: 10px;
  opacity: 0.8;
}

.buttons {
  margin-top: 30px;
}

.buttons a {
  padding: 12px 28px;
  margin: 6px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  background: #d4af37;
  color: #000;
  transition: 0.3s;
}

.buttons a.outline {
  background: transparent;
  border: 1px solid #d4af37;
  color: #d4af37;
}

.buttons a:hover {
  transform: translateY(-3px);
}

/* SECTIONS */
section {
  padding: 80px 10%;
  text-align: center;
}

h2 {
  color: #d4af37;
  margin-bottom: 25px;
}

/* ABOUT */
.about-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.about img {
  width: 260px;
  border-radius: 20px;
  border: 2px solid #d4af37;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 40px;
  background: #151515;
  border-radius: 15px;
  border: 1px solid rgba(212,175,55,0.3);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 0 25px rgba(212,175,55,0.4);
  transform: translateY(-6px);
}

/* CONTACT */
form {
  max-width: 400px;
  margin: auto;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #111;
  border: 1px solid #333;
  color: #fff;
}

form button {
  width: 100%;
  padding: 12px;
  background: #d4af37;
  border: none;
  font-weight: bold;
}

/* FOOTER */
footer {
  padding: 20px;
  background: #000;
  opacity: 0.6;
}

/* WhatsApp */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: #000;
  padding: 14px;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  }
