*{margin:0;padding:0;box-sizing:border-box}
body{background:#000;color:#fff;font-family:Arial;overflow-x:hidden}

.header{
  position:fixed;
  top:0;
  width:100%;
  height:90px;
  background:#000;
  border-bottom:1px solid #d4af37;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 35px;
  z-index:1000;
}

.logo-icon{width:50px}
.logo-text{height:38px}

.nav a{
  color:#d4af37;
  text-decoration:none;
  margin-left:25px;
}

.menu-btn{display:none;font-size:28px;color:#d4af37}

.mobile-menu{
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transform:translateX(100%);
  transition:.3s;
  z-index:2000;
}

.mobile-menu a{
  color:#d4af37;
  font-size:22px;
  margin:15px;
  text-decoration:none;
}

.mobile-menu span{
  position:absolute;
  top:20px;
  right:25px;
  font-size:30px;
  color:#d4af37;
}

.hero{margin-top:90px}
.hero-img{width:100%;display:block}

section{padding:70px 8%;text-align:center}
h2{color:#d4af37;margin-bottom:30px}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  border:1px solid #d4af37;
  padding:35px;
  border-radius:14px;
  cursor:pointer;
}

.contact form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact input,.contact textarea{
  padding:14px;
  background:#111;
  border:1px solid #d4af37;
  color:#fff;
  border-radius:10px;
}

.contact button{
  background:#d4af37;
  color:#000;
  padding:14px;
  border:none;
  border-radius:30px;
  font-weight:bold;
}

.footer{
  border-top:1px solid #222;
  padding:40px;
  text-align:center;
  color:#777;
}

.footer img{width:45px;margin-bottom:10px}

.whatsapp{
  position:fixed;
  right:20px;
  bottom:20px;
  width:55px;
  height:55px;
  background:#25D366;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:26px;
  color:#000;
  text-decoration:none;
  z-index:3000;
}

@media(max-width:768px){
  .nav{display:none}
  .menu-btn{display:block}
  }
