*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins,sans-serif;}
body{background:#000;color:#fff}

.header{
  display:flex;justify-content:space-between;
  align-items:center;padding:15px 20px;
  border-bottom:1px solid #222;
}

.brand img{height:40px;margin-right:8px}

.nav a{color:#d4af37;margin:0 12px;text-decoration:none}

.menu-btn{display:none;font-size:26px;color:#d4af37}

.hero img{width:100%;display:block}

section{padding:60px 20px;text-align:center}

h2{color:#d4af37;margin-bottom:25px}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.gallery img{
  width:100%;
  border-radius:12px;
  border:1px solid #d4af37;
  cursor:pointer;
  transition:.3s;
}
.gallery img:hover{transform:scale(1.04)}

.card{
  padding:30px;
  border:1px solid #d4af37;
  border-radius:12px;
}

.contact input,.contact textarea{
  width:100%;padding:12px;margin:10px 0;
  background:#111;border:1px solid #d4af37;color:#fff;
  border-radius:8px;
}

.contact button{
  padding:12px 30px;
  background:#d4af37;border:none;
  margin-top:10px;border-radius:25px;
}

.footer{text-align:center;padding:40px;border-top:1px solid #222}
.footer img{width:50px;margin-bottom:10px;color:#777}

.viewer{
  position:fixed;top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,.95);
  display:none;justify-content:center;align-items:center;
}
.viewer img{max-width:90%;max-height:90%}

.whatsapp{
  position:fixed;bottom:20px;right:20px;
  background:#25d366;color:#000;
  width:55px;height:55px;
  display:flex;align-items:center;justify-content:center;
  border-radius:50%;font-size:26px;
}

.mobile-menu{
  position:fixed;top:0;right:-100%;
  width:100%;height:100%;
  background:#000;z-index:999;
  padding:40px;text-align:center;
  transition:.4s;
}
.mobile-menu a{
  display:block;margin:20px 0;
  color:#d4af37;text-decoration:none;font-size:22px;
}
.mobile-menu span{font-size:30px;cursor:pointer}

@media(max-width:768px){
  .nav{display:none}
  .menu-btn{display:block}
    }

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 22px;
  right: 22px;
  background: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(37, 211, 102, 0.6);
  animation: pulse 1.5s infinite;
  z-index: 9999;
}

.whatsapp-float img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(37,211,102,0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(37,211,102,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37,211,102,0);
  }
}
